:root {
  --primary-tomato: hsl(4, 100%, 67%);

  --neutral-dark-grey: hsl(234, 29%, 20%);
  --neutral-charcoal-grey: hsl(235, 18%, 26%);
  --neutral-grey: hsl(231, 7%, 60%);
  --neutral-white: hsl(0, 0%, 100%);
}
/*Setting to zero*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
/*--------------------*/
/* error classes */
.input-control.error input {
  border-color: var(--primary-tomato);
  background-color: hsl(4, 100%, 95%);
  color: var(--primary-tomato);
}

.input-control .error {
  display: block;
  margin: 0;
  text-align: end;
  color: var(--primary-tomato);
  font-size: 10px;
  font-weight: 700;
}
/*--------------------*/
/* Sign-up form */
body {
  background-color: var(--neutral-charcoal-grey);
}
.container {
  margin: 15% auto;
  background-color: var(--neutral-white);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: var(--neutral-dark-grey);
  box-shadow: 0px 9px 14px rgba(0, 0, 0, 0.1);
}
.sign-up {
  width: 900px;
  min-width: 700px;
  padding: 21px;
  display: flex;
  flex-direction: row;
  border-radius: 30px;
}
.text-area {
  flex: 1;
  padding: 74px 15px 42px 40px;
}
.heading {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
}
.cta {
  margin: 21px 0;
}
ul {
  padding: 0;
}
ul li {
  list-style: none;
  margin: 9px 0;
}
#form {
  margin: 32px 0;
}
.input-control label {
  font-size: 10px;
  font-weight: 700;
}
.email {
  margin: 0 0 18px 0;
  padding: 10px 20px;
  border: 1px solid hsl(231, 7%, 85%);
  border-radius: 8px;
  width: -webkit-fill-available;
  height: 58px;
}
.email:active {
  cursor: pointer;
  color: var(--neutral-dark-grey);
}
.submit {
  padding: 12px 20px;
  border: 1px solid;
  border-radius: 8px;
  width: -webkit-fill-available;
  text-align: center;
  background-color: var(--neutral-dark-grey);
  color: var(--neutral-white);
  font-weight: 700;
  height: 56px;
}
.submit:active {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    hsl(344, 82%, 62%) 0%,
    hsl(16, 85%, 58%) 100%
  );
}
.image-area {
  flex: 1.2;
  background-image: url(/assets/images/illustration-sign-up-desktop.svg);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: contain;
}

/* Success message */
.success {
  width: 430px;
  padding: 45px 55px;
  background-color: white;
  border: 0 solid;
  border-radius: 30px;
  color: var(--neutral-dark-grey);
  font-size: 14px;
}
.success p {
  margin: 20px 0;
}
.success strong {
  font-weight: 700;
}
.success img {
  width: 17%;
  margin-bottom: 30px;
}
/* footer */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (max-width: 400px) {
  .container {
    margin: 0;
  }
  .sign-up {
    width: auto;
    padding: 0;
    min-width: 100px;
    /* display: flex; */
    flex-direction: column;
    border-radius: 0;
  }
  .text-area {
    padding: 25px;
    order: 2;
  }
  .heading {
    font-size: 40px;
  }
  .image-area {
    min-height: 315px;
    order: 1;
    background-image: url(/assets/images/illustration-sign-up-mobile.svg);
    background-position: top;
  }
  .success {
    width: auto;
    padding: 40px 25px;
    border-radius: 0;
    font-size: 16px;
  }
  .success p {
    margin: 20px 0 260px 0;
  }
  .success img {
    width: 20%;
    margin: 110px 0 35px 0;
  }
}
